<%- include('partials/header'); %>

    <h1> <%= title %> </h1>

    <% for(let i=0; i < posts.length; i++){ %>
        <article>
            <h2><%= posts[i].title %></h2>
            <p><%= posts[i].body %></p>
        </article>
    <% } %>

<%- include('partials/footer'); %>